/* Recursos: */

@import url("./Global.css");

/* Estilos: */

#container #curriculum {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
}

#container #curriculum #files {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

#container #curriculum #files button {

    width: 300px;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 2px solid var(--main-color);
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    color: var(--main-color);
    padding: 10px;
    cursor: pointer;

}

#container #curriculum #files button a {

    height: 100%;
    width: 100%;
    color: var(--main-color);
    text-decoration: none;

}

#container #curriculum #files button:hover {

    background-color: var(--main-color);
    color: var(--page-color);

}

#container #curriculum #files button:hover a {

    color: var(--page-color);

}

#container #curriculum #email {

    width: 400px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    padding: 30px;

}

#container #curriculum #email label {

    font-size: 20px;
    color: var(--neutral-color);
    text-align: center;

}

#container #curriculum #email input, #container #curriculum #email textarea {

    width: 100%;
    border: 2px solid var(--neutral-color);
    border-radius: 0px;
    outline: none;
    padding: 5px;

}

#container #curriculum #email textarea {

    height: 200px;

}

#container #curriculum #email input:focus, #container #curriculum #email textarea:focus {

    border-color: var(--main-color);

}

#container #curriculum #email #buttons {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

#container #curriculum #email #buttons button {

    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-color);
    border-radius: 10px;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;

}

#container #curriculum #email #buttons button, #container #curriculum #email #buttons:hover > button:not(:hover) {

    background-color: transparent;
    color: var(--main-color);

}

#container #curriculum #email #buttons button:nth-child(2), #container #curriculum #email #buttons button:hover {

    background-color: var(--main-color);
    color: var(--page-color);

}

#container #contents {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /* background-color: brown; */
    
}

/* Responsividade: */

@media (max-width: 1024px) {

    #container #curriculum {

        flex-direction: column;
        justify-content: flex-start;
        gap: 50px;

    }

}