/* Recursos: */

@import url("./Global.css");

/* Estilos: */

#container #home {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    
}

#container #home figure {

    height: 300px;
    width: 300px;
    min-height: 300px;
    min-width: 300px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    box-shadow: 0px 0px 30px var(--main-color);
    overflow: hidden;

}

#container #home figure img {

    height: 100%;
    width: 100%;
    overflow: hidden;

}

#container #home #title {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;

}

#container #home #title h1 {

    font-size: 50px;
    color: var(--main-color);
    text-transform: uppercase;
    text-align: center;

}

#container #home #title h2 {

    font-size: 30px;
    color: var(--main-color);
    text-align: center;

}

#container #data {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 75px;

}

#container #data #contacts {

    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: auto;
    gap: 30px;

}

#container #data #contacts a {

    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    text-decoration: none;
    padding: 10px;
    overflow: hidden;

}

#container #data #contacts a i {

    background-color: transparent;
    font-size: 30px;
    color: var(--main-color);

}

#container #data #contacts a:hover {

    background-color: var(--main-color);

}

#container #data #contacts a:hover i {

    color: var(--page-color);

}

#container #data #about-me {

    max-width: 70%;

}

#container #data #about-me article {

    height: 100%;
    width: 100%;

}

#container #data #about-me article p {

    height: 100%;
    width: 100%;
    font-size: 25px;
    color: var(--neutral-color);
    text-align: justify;

}

/* Responsividade: */

@media (max-width: 1024px) {

    #container #home {

        flex-direction: column;
        gap: 50px;

    }

    #container #home figure {

        height: 250px;
        width: 250px;
        min-height: 250px;
        min-width: 250px;

    }

    #container #home #title h1 {

        font-size: 40px;
    
    }
    
    #container #home #title h2 {
    
        font-size: 25px;
    
    }

    #container #data #about-me {

        max-width: 80%;
    
    }

}

@media (max-width: 767px) {

    #container #home figure {

        height: 200px;
        width: 200px;
        min-height: 200px;
        min-width: 200px;

    }

    #container #home #title h1 {

        font-size: 35px;
    
    }
    
    #container #home #title h2 {
    
        font-size: 20px;
    
    }

    #container #data {

        justify-content: flex-start;
        gap: 50px;
    
    }
    
    #container #data #contacts {

        grid-template-columns: repeat(3, auto);
        grid-template-rows: auto auto;
    
    }

    #container #data #about-me {

        max-width: 100%;
    
    }

}